.layout1 {
    text-align: center;
    color: aliceblue;
    
}

.layout2{
    text-align: center;
    color: aliceblue;
}

.logos{
    

}

.background{
    background-image: url(img/background/background.jpg);