@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #070614;
}

.header{
  display: flex;
}
.header, .footer{
  height: 20vh;
  width: 100vw;
}

.welcometext{
  color: white;
  margin: auto;
  font-size: 32px;
}

.central{
  width: 100vw;
  height: 60vh;
  background-color: #ece3e3;
  display: flex;  
}

.aboutme{
  
  width: 50%;
}

.links{
 
  width: 50%;
}